<?php

/**
 * conjoon
 * lumen-app-email
 * Copyright (c) 2019-2022 Thorsten Suckow-Homberg https://github.com/conjoon/lumen-app-email
 *
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without restriction,
 * including without limitation the rights to use, copy, modify, merge,
 * publish, distribute, sublicense, and/or sell copies of the Software,
 * and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
 * DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
 * OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE
 * USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

declare(strict_types=1);

/*
|--------------------------------------------------------------------------
| Add IMAP Server Connection information
|--------------------------------------------------------------------------
|
| Here you can specify an array of supported IMAP servers to which users
| of your application can connect to. The "match" entry should be a regular
| expression that matches an email-address to "this" specific server configuration.
| This file needs to be renamed to "imapserver.php" once configured.
*/

return [

    [
        // a unique id for this configuration entry
        "id"              => "Google_Mail",
        "inbox_type"      => "IMAP",
        "inbox_address"   => 'imap.gmail.com',
        "inbox_port"      => 993,
        "inbox_ssl"       => true,
        "outbox_address"  => "smtp.gmail.com",
        "outbox_port"     => 465,
        "outbox_ssl"      => true,
        // the root mailbox. For most IMAP servers, this will
        // be "INBOX". Gmail users can use  "[Gmail]" instead.
        // You can also provide a separate mailbox named "conjoon".
        // The root folders are the only folders which will be
        // queried and displayed in the folder hierarchy for the
        // Mail Account, along with its contents, including sub folders.
        "root"            => ["INBOX"],
        // a regular expression that makes sure a user's email-address
        // is matched against "this" entry, e.g. a sign-in with the
        // username "dev@googlemail.com" would be associated with "this",
        // server configuration, but "dev@somemailserver.com" wouldn't
        "match"           => ["/\@(googlemail.)(com)$/mi"]
    ]

];
